#tabs{position:absolute;top:10px;left:150px;height:30px;width:400px;}

/* Default highlight */
#add_printer_header{background-color:#222;}

/* Printer */
#add_printer_header{position:absolute;top:0px;left:0px;height:30px;width:200px;font-size:20px;cursor:pointer;border-top-left-radius:10px;border-top-right-radius:10px;opacity:0.8;}
#add_printer_header_text{position:absolute;top:5px;left:40px;color:#BBB;}
#view_printer_header{position:absolute;top:0px;left:200px;height:30px;width:200px;font-size:20px;cursor:pointer;border-top-left-radius:10px;border-top-right-radius:10px;opacity:0.8;}
#view_printer_header_text{position:absolute;top:5px;left:30px;color:#333;}

/* Paper */
#add_paper_header{position:absolute;top:0px;left:0px;height:30px;width:200px;font-size:20px;cursor:pointer;border-top-left-radius:10px;border-top-right-radius:10px;opacity:0.8;}
#add_paper_header_text{position:absolute;top:5px;left:40px;color:#BBB;}
#view_paper_header{position:absolute;top:0px;left:200px;height:30px;width:200px;font-size:20px;cursor:pointer;border-top-left-radius:10px;border-top-right-radius:10px;opacity:0.8;}
#view_paper_header_text{position:absolute;top:5px;left:30px;color:#333;}

/* Server */
#add_server_header{position:absolute;top:0px;left:0px;height:30px;width:200px;font-size:20px;cursor:pointer;border-top-left-radius:10px;border-top-right-radius:10px;opacity:0.8;}
#add_server_header_text{position:absolute;top:5px;left:40px;color:#BBB;}
#view_server_header{position:absolute;top:0px;left:200px;height:30px;width:200px;font-size:20px;cursor:pointer;border-top-left-radius:10px;border-top-right-radius:10px;opacity:0.8;}
#view_server_header_text{position:absolute;top:5px;left:30px;color:#333;}

/* Workstation */
#add_workstation_header{position:absolute;top:0px;left:0px;height:30px;width:200px;font-size:20px;cursor:pointer;border-top-left-radius:10px;border-top-right-radius:10px;opacity:0.8;}
#add_workstation_header_text{position:absolute;top:5px;left:40px;color:#BBB;}
#view_workstation_header{position:absolute;top:0px;left:200px;height:30px;width:200px;font-size:20px;cursor:pointer;border-top-left-radius:10px;border-top-right-radius:10px;opacity:0.8;}
#view_workstation_header_text{position:absolute;top:5px;left:30px;color:#333;}

/* Accessory */
#add_accessory_header{position:absolute;top:0px;left:0px;height:30px;width:200px;font-size:20px;cursor:pointer;border-top-left-radius:10px;border-top-right-radius:10px;opacity:0.8;}
#add_accessory_header_text{position:absolute;top:5px;left:40px;color:#BBB;}
#view_accessory_header{position:absolute;top:0px;left:200px;height:30px;width:200px;font-size:20px;cursor:pointer;border-top-left-radius:10px;border-top-right-radius:10px;opacity:0.8;}
#view_accessory_header_text{position:absolute;top:5px;left:30px;color:#333;}
